/* 내가 연습한 것*/
/*.section {*/
/*    width: 80%;*/
/*}*/

/*.section {*/
/*    margin: 20px 20px 20px 0;*/
/*    padding: 30px;*/
/*}*/

/*.section a {*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*}*/

/*#section1 {*/
/*    background: #2ddf5c;*/
/*    border: red 5px solid;*/
/*}*/

/*#section1 .section__subtitle,*/
/*#section2 .section__subtitle {*/
/*    color: gray;*/
/*}*/

/*#section2 {*/
/*    background: #d5ffdc;*/
/*    border: green 5px solid;*/
/*}*/

/*#section3 {*/
/*    background: #ffcede;*/
/*}*/

/*.section__content {*/
/*    border: green 2px solid;*/
/*    padding: 10px;*/
/*    background: white;*/
/*    color: darkgreen;*/
/*}*/

/*#section3 .section__title {*/
/*    color: white;*/
/*}*/

/*#section3 .section__content {*/
/*    border: none;*/
/*}*/

/* 강좌 */
main {
    padding-top: 32px;
}

.package {
    width: 80%;
    margin: 16px 0;
    border: 4px solid #0e4f1f;
    border-left: none;
}

.package:hover,
.package:active {
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    padding: 16px;
    border: 1px solid #0e4f1f;
    font-size: 20px;
    color: #0e4f1f;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-left: 4px solid #0e4f1f;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

#premium .package__info {
    border: none;
    color: green;
    background: white;
}
